<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Welcome to Register</h1>
<form action="" method="POST">
     {% csrf_token %}
{% for fields in form%}
<div>
<label for="">{{fields.label}}</label>
<input type="{{fields.field.widget.input_type}}" name="{{fields.name}}" value="{{fields.value}}">
</div>

{% endfor %}
<button type="submit">Submit</button>
</form>
</body>
</html>